#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: lightskyblue;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  width: 100vw;
}

button, a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navBar {
  background-color: white;
}

#imgK, #imgJ { 
  height:200px;
  width:500px ;
}

img{
height:300px;
width:200px;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.425) 5px 5px 15px;
}

.modal, .iconModal {
  position:relative;
  background-color: #3297CC;
  border: 3px, white, solid;
  max-height: 70vh;
  max-width: 70vw;
  overflow-y: scroll;
}

.modalBg{
display: grid;
place-items: center;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
backdrop-filter: blur(10px);
}

#x{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background:transparent;
  font-weight: bold;
  }

  #x:hover{
    background-color: #3296cc79;
    
  }

  #addBasket{
    color: greenyellow;
    background-color: #3297CC;
    border: 3px white solid;
    font-weight: bold;
  }

#close {
  color: red;
  background-color: #3297CC;
  border: 3px white solid;
  font-weight: bold;
}

#close:hover, #filter:hover, #ddBtns:hover{
  background-color: #27749d;
}

.title, .release {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#catContainer{
  display: flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content: center;
}

#banner{
  height:300px;
  width:879.5px;
  cursor: default;
}

#dd{
  margin-bottom:10px ;
}

#ddBtns {
  background-color: #3297CC;
  border: 3px white solid;
  margin: 5px 5px 0;
}

#filter {
  background-color: #3297CC;
  border: 3px white solid;
  margin-bottom: 5px;
}